body{
	font-family: monospace;
	color: {{ site.style.text }}
}
.clearer { clear: both; }

#info-content {
	margin: 10px;
	width: auto;
}
#info-text {
	margin: 10px 0;
	border-radius: 15px;
	padding: 2px 20px 2px 20px;
	line-height: 1.5;
	background: rgba({{ site.style.background-rgb }} 0.7);
}
#info-text img{
    width: 100%;
    height: 100%;
}
#feature-container{
	height: 100%;
}
.slides{
	bottom: 0 !important;
}
/* Different looks for non-mobiles... */
@media (min-width: 750px){
    #info-container,
    #feature-container {
		vertical-align: top;
		display: inline-block;
		font-size: 2vh;
	}
	#info-container{
	    width: calc(99% - 100vh);
	}
	#info-content {
		padding: 25px;
		margin: 10px 25px;
	}
	#feature-container{
	    width: 100vh;
	    height: 100vh;
		line-height: initial;
	}
}
