body{
	font-family: monospace;
	color: {{ site.style.text }}
}
.clearer { clear: both; }

#info-content {
	margin: 10px;
	width: auto;
}
#info-text {
	margin: 10px 0;
	border-radius: 15px;
	padding: 2px 20px 2px 20px;
	line-height: 1.5;
	background: rgba({{ site.style.background-rgb }} 0.7);
}
#feature-container{
	height: 100%;
}
.slides{
	bottom: 0 !important;
}
/* Different looks for non-mobiles... */
@media (min-width: 750px){
	#feature-container, #info-container {
		vertical-align: top;
		display: inline-block;
		width: 49%;
		font-size: 2vh;
	}
	#info-content {
		padding: 25px;
		margin: 10px 25px;
	}
	.gallery-block-content{
		line-height: initial;
	}
}
