.center {
	margin: auto;
	text-align: center;
}
#image {
	background-position: center;
	background-size: cover;
	width: 20vh;
	height: 20vh;
	border-radius: 30vh;
	background-image: url("/assets/images/{{ page.avatar-image }}");
}

#icons-container {
	width: auto;
	height: auto;
}
#icons-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.icon-list-elem {
	display: inline;
}
/* Style for the navigation icons */
.icon-img-elem {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-size: cover;
	display: inline-block;
}
.icon-img-elem {
	box-shadow: 0em 0em 2em #000;
}
#tattoos-icon {
	background-image: url("/assets/images/tattoos-icon.png");
}
#brows-icon{
	background-image: url("/assets/images/brows-icon2.png");
}
#commission-icon{
	background-image: url("/assets/images/commission-icon.png");
}
#contact-icon{
	background-image: url("/assets/images/contact-icon.png");
}
#bio-icon {
	background-image: url("/assets/images/bio-icon.png");
}
/*
body:hover #tattoos-icon{
	background-image: url("/assets/images/tattoo-icon-hover.png");
}

body:hover #brows-icon{
	background-imgage: url("/assets/images/brows-icon-hover.png");
}

body:hover #commission-icon{
	background-image: url("/assets/images/commission-icon-hover.png");
} 

body:hover #contact-icon{
	background-image: url("/assets/images/contact-icon-hover.png");
} 

body:hover #bio-icon{
	background-image: url("/assets/images/bio-icon-hover.png");
}*/
