---
layout: default
custom_style_includes:
- feature
- gallery
custom_js:
- reveal
custom_css:
- reveal
- theme
---
<div id="info-container">
	<div id="info-content">
		<div id="info-text">
			{{ content }}
		</div>
	</div>
</div>
<div id="gallery-container">
	{% include gallery.html %}
</div>
<script>
	Reveal.initialize({
		progress: false,
		defaultTiming: 5,
		overview: false,
		loop: true,
		embedded: true,
		fragments: false,
		help: false,
		autoslide: 5000,
		transitionSpeed: 'fast',
	});
</script>
